.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 34px;
  font-weight: 300;
  grid-area: m;
}

.sk-wave {
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 10px; 
}
.sk-wave .sk-rect {
  background-color: var(--secondary-text-color);
  height: 100%;
  width: 6px;
  margin: 0 3px 0 0;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
          animation: sk-waveStretchDelay 1.2s infinite ease-in-out;

}

.sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s; 
}
.sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
@-webkit-keyframes sk-waveStretchDelay {
0%, 40%, 100% {
  -webkit-transform: scaleY(0.4);
          transform: scaleY(0.4); 
}
20% {
  -webkit-transform: scaleY(1);
          transform: scaleY(1); } 
}
@keyframes sk-waveStretchDelay {
0%, 40%, 100% {
  -webkit-transform: scaleY(0.4);
          transform: scaleY(0.4); 
}
20% {
  -webkit-transform: scaleY(1);
          transform: scaleY(1); } 
}
